{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
</head>
<body>
    <div class="space-maker">
        <div class="card-1">
            <div class="title-2"> Done! </div>
            <p><div class=""><a class="button-application" href="{% url 'index' %}">Back to main page</a></div></p>
        </div>
    </div>
</body>
</html>
